<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970892202412-e0g441sg9363569n1mfr33s1is26k9a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970892202412-e0g441sg9363569n1mfr33s1is26k9a0</string>
	<key>API_KEY</key>
	<string>AIzaSyA9-Q7K0Wte-h2GHLQj0q4GBVeanha-wKE</string>
	<key>GCM_SENDER_ID</key>
	<string>970892202412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clc.firestoreClickerSeaver</string>
	<key>PROJECT_ID</key>
	<string>clickergameseaver</string>
	<key>STORAGE_BUCKET</key>
	<string>clickergameseaver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970892202412:ios:499752551c2c4d22b82a09</string>
</dict>
</plist>